#recipes img {
        max-height: 170px;
        object-fit: cover;
}
#categories img {
        max-height: 370px;
        object-fit: cover;
}
footer{
    text-align: center;
    background-color: #ac8b67;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-footer{
  color: #FFF8EE;
}

.text-dark{
    text-align: center;
}

.body{
    margin-left:15%;
    margin-right: 15%;
}


.navbar{
	background-color: #bd8236;
}

input{
    align-self: center;
}

.chef{
    width: 10%;
    height: auto;
}

/*.cuki{
  background-color: #f0e0c3;
} */


/*copy paste */

.site-header {
    background-color: #ac8b67;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #FFF8EE;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #402E32;
    text-decoration: none;
  }

/* Hover */

.container-h{
  padding: 1em 0;
  float: left;
  width: 50%;
  }
  @media screen and (max-width: 640px){
    .container-h{
        display: block;
        width: 100%;
    }
  }

  @media screen and (min-width: 900px){
    .container-h{
        width: 33.33333%;
    }
  }

  /* .container-h .title-h{
  color: red;
  text-align: center;
  margin-bottom: 10px;
  } */

  .content-h {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  }

  .content-h .content-overlay-h {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  /* -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; */
  }

  .content-h:hover .content-overlay-h{
  opacity: 1;
  }

  .content-image-h{
  width: 100%;
  }

  .content-details-h {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  /* -webkit-transform: translate(-50%, -50%); */
  /* -moz-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  /* -webkit-transition: all 0.3s ease-in-out 0s; */
  /* -moz-transition: all 0.3s ease-in-out 0s; */
  transition: all 0.3s ease-in-out 0s;
  }

  .content-h:hover .content-details-h{
  top: 50%;
  left: 50%;
  opacity: 1;
  }

  h3{
  color: #fff;
  /* font-weight: 500; */
  /* letter-spacing: 0.15em; */
  /* margin-bottom: 0.5em; */
  font-family: Arial, Helvetica, sans-serif;
  }

  .content-details-h p{
  color: #fff;
  font-size: 0.8em;
  }  

  .fadeIn-bottom{
  top: 80%;   
  }
